.DS_Store

.idea/
.vscode/*
!.vscode/launch.json
!.vscode/settings.json

.fvm/

.env
.env.*

.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

app.*.symbols
app.*.map.json
